---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import DateItem from "@components/DateItem.astro";
import Socials from "@components/Socials.astro";
import { slugify, getSortedPapers } from "utils.ts";
import { PROJECTS } from "@config";

const papers = await getCollection("papers");
const sortedPapers = getSortedPapers(papers);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <p>
        I am a third-year undergraduate majoring in Aerospace Engineering with
        an extended major in Artificial Intelligence, and a research helper at
        the <LinkButton href="https://octadlab.ust.hk">
          HKUST OCTAD Lab.
        </LinkButton>
      </p>
      <p>
        My research interests lie in the intersection of aerospace and machine
        learning, with a particular focus on air traffic management and
        trajectory prediction.
      </p>
      <div class="social-wrapper">
        <Socials />
      </div>
    </section>
    <section id="projects">
      <h2>Projects</h2>
      <div class="list-container">
        {
          PROJECTS.map(project => (
            <DateItem
              href={project.href}
              date={project.date}
              title={project.title}
              description={project.description}
            />
          ))
        }
      </div>
    </section>
    <section id="papers">
      <h2>Papers</h2>
      <div class="list-container">
        {
          sortedPapers.map(({ data }) => (
            <DateItem
              href={`/papers/${slugify(data)}`}
              date={data.pubDatetime}
              title={data.title}
              description={data.description}
            />
          ))
        }
      </div>
    </section>
  </main>

  <Footer />
</Layout>
<style lang="scss">
  .social-wrapper {
    margin-top: 1rem;
    display: flex;
  }

  #projects,
  #papers {
    padding: 3rem 0 1.5rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.025em;
      margin-bottom: 1rem;
    }

    .list-container {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
</style>
