---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  paper: CollectionEntry<"papers">;
}

const { paper } = Astro.props;

const { title, author, description, canonicalURL, pubDatetime } = paper.data;
const dateStr =
  pubDatetime instanceof Date
    ? pubDatetime.toISOString().split("T")[0]
    : pubDatetime;

const { Content } = await paper.render();
---

<Layout
  title={title}
  author={author}
  description={description}
  canonicalURL={canonicalURL}
>
  <Header />
  <main id="main-content">
    <h1 class="paper-title">{title}</h1>
    <div class="meta-info">{dateStr}</div>
    <article id="article" class="prose">
      <Content />
    </article>
  </main>
  <Footer />
</Layout>

<style lang="scss">
  .paper-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(var(--color-accent));
  }
  .meta-info {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
</style>
